<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite">
  <test thread-count="1" name="Tests" verbose ="1" parallel="tests">
  
  <classes>
  	<class name = "TestScenario.ValidateProductDetailsPage"/>
	<class name = "TestScenario.ValidateAccountLoginFunctionality"/>
	<class name = "TestScenario.ValidateHomePage"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
