<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite">

	<test thread-count="1" name="HomePageTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateHomePage" />
		</classes>
	</test>

	<test thread-count="1" name="ProductPageTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateProductDetailsPage" />
		</classes>
	</test>

	<test thread-count="1" name="AccountLoginAndCreationTests"
		verbose="1" parallel="tests">
		<classes>
			<class name="TestScenario.ValidateAccountLoginFunctionality" />
		</classes>
	</test>

	<test thread-count="1" name="CollectionPageTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateCollectionPage" />
		</classes>
	</test>

	<test thread-count="1" name="AddToCartTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.AddToCartTests" />
		</classes>
	</test>

	<test thread-count="1" name="FlyCartTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateFlyCartPage" />
		</classes>
	</test>


</suite> 
