<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite">


	<test thread-count="1" name="HomePageTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateHomePage" />
		</classes>
	</test>

	<test thread-count="1" name="AccountLoginAndCreationTests"
		verbose="1" parallel="tests">
		<classes>
			<class name="TestScenario.ValidateAccountLoginFunctionality" />
		</classes>
	</test>

	<test thread-count="1" name="SingleCollectionTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateSingleCollectionPages">
			</class>
		</classes>
	</test>

	<test thread-count="1" name="MegaCollectionTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateMegaCollectionPages" />
		</classes>
	</test>

	<test thread-count="1" name="ProductPageTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateProductDetailsPage" />
		</classes>
	</test>

	<test thread-count="1" name="AddToCartTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.AddToCartTests" />
		</classes>
	</test>

	<test thread-count="1" name="FlyCartTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateFlyCartPage" />
		</classes>
	</test>

	<test thread-count="1" name="ShoppingCartTests" verbose="1"
		parallel="tests">

		<classes>
			<class name="TestScenario.ValidateShoppingCart" />
		</classes>
	</test>

	<test thread-count="1" name="Checkout Tests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateCheckoutPage" />
		</classes>
	</test>


	<test thread-count="1" name="ReorderPagetests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateReOrderPage" />
		</classes>
	</test>

	<test thread-count="1" name="AfterPayTests" verbose="1"
		parallel="tests">
		<classes>
			<class name="TestScenario.ValidateAfterPay" />
		</classes>
	</test>

</suite> 
